.form {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

.label {
margin-top: 10px;
}
.inputtexto{
  width: 65%;
  height: 100px;
  font-size: 20px;
  margin: auto;
  resize: none;
  overflow: hidden;
  border-radius: 10px;
}

.inputselect {
    margin: auto;
}

.button {
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #d7b51f;
    color: white;
  }
.button:hover {
    background-color: wheat;
  }

  .comentarios {
    /* Estilos para la zona de comentarios */
  }
  .comentario {
    /* Estilos para cada comentario individual */
    background-color: wheat;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0,0,0,.1);
    margin-bottom: 10px;
    padding: 10px;
    color: black;
  }
  
  .usuarioFecha {
    /* Estilos para la zona del nombre de usuario y fecha de creación */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .nombreUsuario {
    /* Estilos para el nombre de usuario */
    font-size: smaller;
  }
  
.fechaCreacion {
  /* Estilos para la fecha de creación */
  font-size: smaller;
}

.textoComentario {
  /* Estilos para el texto del comentario */
}

.rating {
  /* Estilos para el rating */
}