
.navbar {
    display: flex;
    padding: 0 20px;
    background-color: #202426;
    color: wheat;
    font-weight: bold;
    position: relative;
  }
  
  .navbarlink {
    padding: 10px;
    font-size: 1.2rem;
    text-decoration: none;
    color: wheat;
    text-transform: uppercase;
  }
  .button{
    background-color: #202426;
    color: wheat;
    border-radius: 15px;
    padding:5px
  }
  .button:hover{
    background-color: rgb(194, 175, 139);
    color: #202426;
  }